.app__container {
  height: 100vh;
  display: flex;
  width: 100vw;
  justify-content: center;
}

.app__sider > div {
  overflow-y: auto;
}

.app__main {
  padding: 24px 50px;
  overflow-y: auto;
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  background: #f0f2f5;
}