.column-selector {
  padding: 20px 0 40px 20px;
}

.column-selector__header {
  display: flex;
  margin-bottom: 2rem;
  align-items: flex-end;
}

.column-selector__header .header__title {
  font-weight: 100;
  font-size: 24px;
}

.column-selector__header .header__option {
  align-self: flex-end;
  margin-left: auto;
  font-size: 11px;
}

.column-selector__content {
  display: flex!important; /* override ant-design */
  flex-direction: column;
}